{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid" id="calendar-main-wrapper">
        <div id="calendar-wrapper">
            <h2 id='intro-heading'>
                <p id='intro-header'>Date: {{ "now"|date('d/m/Y') }}</p>
                <p>Day: {{ "now"|date('l') }} </p>
                <p>Month: {{ "now"|date('M') }}</p>
            </h2>
            <table>
                <thead>
                {%  for day in days %}
                    <th>{{ day|upper }}</th>
                {% endfor %}
                </thead>
                    <tbody>
                    {{ diary | raw }}
                    </tbody>
            </table>
        </div>
    </div>
{% endblock %}
